// -------------------------------- Variables

// Colours
$main-blue: #25303A;
$accent-blue: #32404E;
$gradient-light: #556D86;
$gradient-dark: #313F4D;

$white: #FFFFFF;
$light-grey: #B3B3B3;
$black: #010101;

$main-gold: #F1D7A7;
$accent-gold: #FAF2D7;

// Font Family
$font: 'Lato', Arial, Helvetica, sans-serif;
$black-font: 900;
$bold-font: 700;
$regular-font: 400;
$light-font: 300;

// Font Size
$mobile-small-size: 11px;
$mobile-medium-size: 12px;
$mobile-large-size: 14px;
$mobile-x-large-size: 20px;

$desktop-small-size: 16px;
$desktop-medium-size: 20px;
$desktop-large-size: 24px;
$desktop-x-large-size: 32px;
$desktop-xx-large-size: 40px;
$desktop-xxx-large-size: 64px;
